<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>WebTest</display-name>
  <context-param>
    <param-name>url</param-name>
    <param-value>jdbc:mysql://localhost:3306/test</param-value>
  </context-param>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>html_form.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>webTest</servlet-name>
    <servlet-class>com.servlet.study.ServletConfigDemo1</servlet-class>
    <init-param>
      <param-name>name</param-name>
      <param-value>gacl</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>123</param-value>
    </init-param>
    <init-param>
      <param-name>charest</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>servletContext2</servlet-name>
    <servlet-class>com.servlet.study.ServletContextDemo2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContext2</servlet-name>
    <url-pattern>/servletContext2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletContext1</servlet-name>
    <servlet-class>com.servlet.study.ServletContextDemo1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContext1</servlet-name>
    <url-pattern>/servletContext1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletContext3</servlet-name>
    <servlet-class>com.servlet.study.ServletContextDemo3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContext3</servlet-name>
    <url-pattern>/servletContext3</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletContext4</servlet-name>
    <servlet-class>com.servlet.study.ServletContextDemo4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContext4</servlet-name>
    <url-pattern>/servletContext4</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletContext5</servlet-name>
    <servlet-class>com.servlet.study.ServletContextDemo5</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContext5</servlet-name>
    <url-pattern>/servletContext5</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletContext6</servlet-name>
    <servlet-class>com.servlet.study.ServletContextDemo6</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContext6</servlet-name>
    <url-pattern>/servletContext6</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletContext</servlet-name>
    <servlet-class>com.servlet.study.ServletDemo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletContext</servlet-name>
    <url-pattern>/servletContext</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletResponse1</servlet-name>
    <servlet-class>com.response.study.ResponseDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletResponse1</servlet-name>
    <url-pattern>/servletResponse1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletResponse2</servlet-name>
    <servlet-class>com.response.study.ResponseDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletResponse2</servlet-name>
    <url-pattern>/servletResponse2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DrawImage</servlet-name>
    <servlet-class>com.response.study.DrawImage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DrawImage</servlet-name>
    <url-pattern>/DrawImage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>com.response.study.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/CheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletRequest01</servlet-name>
    <servlet-class>com.request.study.RequestDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletRequest01</servlet-name>
    <url-pattern>/servletRequest01</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletRequest02</servlet-name>
    <servlet-class>com.request.study.RequestDemo02</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletRequest02</servlet-name>
    <url-pattern>/servletRequest02</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletRequest03</servlet-name>
    <servlet-class>com.request.study.RequestDemo03</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletRequest03</servlet-name>
    <url-pattern>/servletRequest03</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>servletCookie01</servlet-name>
    <servlet-class>com.cookie.study.CookieDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servletCookie01</servlet-name>
    <url-pattern>/servletCookie01</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>sessionDemo01</servlet-name>
    <servlet-class>com.session.study.SessionDemo01</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sessionDemo01</servlet-name>
    <url-pattern>/sessionDemo01</url-pattern>
  </servlet-mapping>
</web-app>